/* COLORS
* dark purple: #593F62
* light purple: #746897
* pink: #DD7596
*/

/* Fonts
* Quicksand
*/

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700|Open+Sans:400,300,700);

/** GENERAL **/
/*************/
body {
    font-size: 22px; 
    font-family: "Quicksand";
    font-weight: 400;
}

a {
     text-decoration: none; 
}



/** HOME PAGE **/
/***************/
.header {
    width: 100%;
    background-color: #593F62;
}

.header h1 {
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 2.5em;
    color: white;
    padding: 20px 0px;
    margin: 0px;
}

.header p {
    text-align: right;
    margin-top: 35px;
    font-size: 1em;
    color: white;   
}

.subHeader {
    color: white;
    background-color:  #746897; 
}

.subHeader p {
    font-size: 1em;
    margin: 0px;
    padding: 5px 0px;
}

#primary ul {
    text-align: center;
    margin: 0px;  
    background-color: #746897;
    border-bottom: 3px solid #593F62;
    
}

#primary li {
    font-size: 1em;
    margin: 0px;
    display: inline-block;
    color: white;
    list-style-type: none;
    padding: 15px 20px;
}

#primary li:hover {
    background-color: #593F62;
}


#primary a {
     color: white;   
}

/** HERO IMAGE **/
/****************/
.hero {
    height: 400px;
    width: 100%;
    background-image: url(../imgs/woman.jpg);
    background-size: cover;
}

/** GENERAL CONTENT AREA **/
/**************************/
.content .row {
     padding-top: 50px;   
}

.content h4 {
    font-weight: 400; 
}

.content p, .content li {
    color: black;
    font-weight: 400;   
}

/** MISSION STATEMENT **/
/***********************/
#mission {
    color: #333;
}

/** INSURANCE **/
/***************/
#insurance img {
    padding-top: 50px;
    max-width: 100%;  
}





